.category-row{
    padding:50px 0;
}
.category-inner{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:20px;
}
.cat-card{
    text-align:center;
    font-weight:700;
    transition:.25s;
}
.cat-card img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    border-radius:14px;
    margin-bottom:10px;
}
.cat-card:hover{
    transform:translateY(-4px);
}
.category-banner{
    max-width:1400px;
    margin:30px auto 0;
    padding:0 20px;
}
.category-banner img{
    width:100%;
    border-radius:18px;
}
