.admin-login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
}

.admin-login-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.admin-login-box h2 {
    margin-bottom: 20px;
}

.admin-login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-admin-login {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: #111;
    color: white;
    border: none;
    font-size: 16px;
}
.btn-admin-login:hover {
    background: #00a339;
}

.admin-error {
    background: #ffe5e5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
