.category-page {
    width: 100%;
    max-width: 1250px;
    margin: 40px auto;
    padding: 20px;
}

.cat-title {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
}

.product-card {
    display: block;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px;
    transition: 0.25s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img img {
    width: 100%;
    border-radius: 10px;
}

.product-info {
    margin-top: 10px;
    text-align: center;
}

.product-name {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
    color: #c60000;
    margin-top: 3px;
}
