.hero {
    position: relative;
    margin-bottom: 40px;
}

.hero-img {
    width: 100%;
    border-radius: 12px;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 6%;
    color: #fff;
    max-width: 420px;
}

.hero-text h1 {
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    background: #008b3e;
    color: white;
    padding: 12px 22px;
    border-radius: 30px;
    font-size: 18px;
}

/* CATEGORY */
.category-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 25px 0 40px;
}

.category-card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 18px;
}

.category-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: .3s;
}

.category-card:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 18px;
    left: 20px;
    font-size: 26px;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(0,0,0,.7);
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 25px;
}

.product-card {
    padding: 12px;
    background: #fff;
    border-radius: 14px;
    border: 1px solid #eee;
    text-align: center;
    transition: .25s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.product-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.price {
    color: #008b3e;
    font-weight: bold;
    font-size: 18px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
